<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475759278227-sgeb7jghhib19fqnj98aucv29m09ag8h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475759278227-sgeb7jghhib19fqnj98aucv29m09ag8h</string>
	<key>API_KEY</key>
	<string>AIzaSyCYf5v67JJMPkHSCjJxOhIsEEDAV8Idivc</string>
	<key>GCM_SENDER_ID</key>
	<string>475759278227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Luong.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>to-do-list-24aa3</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-list-24aa3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475759278227:ios:cf5207468018c6dc9df566</string>
</dict>
</plist>